@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'keen-slider/keen-slider.min.css';

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #a5d481;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #a5d481 inset;
  box-shadow: 0 0 0px 1000px #a5d481 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: rgb(0, 0, 0);
}

/* more info about this in https://tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply */
@layer components {
  .btn {
    @apply flex justify-center items-center rounded-full duration-300 hover:scale-105 text-center h-10;
  }
  .btn-sm {
    @apply min-w-[3rem] max-h-7;
  }
  .btn-md {
    @apply min-w-[6rem];
  }
  .btn-xl {
    @apply min-w-[9rem];
  }
  .btn-full {
    @apply min-w-full;
  }
  .btn-primary {
    @apply btn text-white bg-green;
  }
  .btn-secondary {
    @apply btn text-white bg-blue;
  }
  .btn-tertiary {
    @apply btn text-white bg-black;
  }
  .btn-primary-outline {
    @apply btn text-green bg-lightGreen border-2 border-green;
  }
  .btn-secondary-outline {
    @apply btn text-blue bg-lightBlue border-2 border-blue;
  }
  .btn-tertiary-outline {
    @apply btn text-black border-2 border-black;
  }
  .btn-disabled{
    @apply flex justify-center items-center rounded-full text-center h-10 text-white bg-gray-700 cursor-default;
  }
  .btn-error{
    @apply flex justify-center items-center rounded-full text-center h-10 text-white bg-red-500 cursor-default;
  }
  .shadow {
    @apply shadow-[0px_4px_4px_rgba(0,0,0,0.25)];
  }
  .h3-landing {
    @apply font-semibold text-green text-2xl;
  }

  .textarea-note {
    @apply overflow-hidden bg-white w-full h-full;
    background: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 36px,
      gray 38px
    );
    background-attachment: local;
    font-size: 26px;
    line-height: 38px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
